/*===== Reset CSS =====*/
@import url("../styles/global.css");

/*===== Corpo =====*/
main {
    width: 100vw;
    height: 100vh;
    display: flex;
}

/*===== Formulário =====*/
form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 60px;
}

.form-container > h2 {
    font-size: 16px;
    font-weight: 500;
    color: var(--black-escuro);
}

.title-wrapper{
    display: flex;
    justify-content: space-between;
}

section {
    width: 51.5%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

label {
    font-style: 14px;
    font-weight: 500;
    color: var(--black-escuro);
}

fieldset {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

/*===== Título =====*/
h1 {
    font-size: 32px;
    font-weight: 500;
    font-style: normal;
    color: var(--black-escuro);
}

h2{
    font-size: 16px;
}

/*===== Checkbox =====*/
.checkbox {
    flex-direction: row;
    gap: 6px;
    justify-content: start;
    align-items: center;
}

.checkbox > label {
    font-size: 9px;
}

/*===== Imagem =====*/
img {
    object-fit: cover;
    width: 48.5%;
    border-radius: 45px 0 0 45px;
}

/*===== Botão =====*/
form button {
    background-color: var(--green-day);
    color: white;
    height: 35.4px;
    border-radius: 10px;
    font-weight: 700;
    font-size: normal;
}

/*===== Inputs =====*/
input[type="password"], input[type="email"]{
    border: 1px solid var(--grey);
    border-radius: 10px;
    padding: 8.5px 10px;
}

input::placeholder{
    font-size: 10px;
    font-weight: 500;
    color: var(--grey);
}

/*===== Esqueceu a senha =====*/
a {
    font-size: 10px;
    font-weight: 500;
    color: var(--blue-ray);
}

/*===== Divisor (Or) =====*/
.divider{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4.5px;
}

.divider > p {
    font-size: 9px;
    font-weight: 500;
    color: var(--black-escuro);
    margin: 34px 0px;
}

.line{
    width: 100%;
    height: 2px;
    background-color: var(--border-gay);
}

.sso-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 23px;
    margin-top: 66.4px;
}

.sso-container img{
    width: 24px;
    height: 24px;
}

.sso-container button{
    height: 32px;
    gap: 10px;
    padding: 4px 24px;
    border: 1px solid var(--border-gay);
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: 400;
    
}
.redirect-sign-up{
    font-size: 14px !important;
    color: var(--black-escuro);
    justify-self: center;
    margin-top: 22px;
}
.redirect-sign-up a{
    font-size: 14px;
    color: var(--blue-ray);
}